
.left{
    width:50%;
    display:flex;
    justify-content: flex-start;
    margin: 50px;

}
h1{
   
    color:white;
    font-size: 60px;
    letter-spacing: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: rgb(109,151,115);
    
}
.right{
    display:flex;
    justify-content: flex-end;
    position:absolute;
    top:20px;
    right:50px;
    margin: 40px;
}
p{
    color:white;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
img{
    max-width: 100%;
    height: auto;
}
/*Laptop*/
@media screen and (min-width:769px)and (max-width:1024px){
    .left{
    width:50%;
    display:flex;
    justify-content: flex-start;
    margin: 50px;

}
h1{
   
    color:white;
    font-size: 60px;
    letter-spacing: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: rgb(109,151,115);
    
}
.right{
    display:flex;
    justify-content: flex-end;
    position:absolute;
    top:20px;
    right:50px;
    margin: 40px;
}
p{
    color:white;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
img{
    max-width: 100%;
    height: auto;
}
img{
    max-width: 100%;
}
}

/*tablet*/
@media screen and (min-width:481px)and (max-width:768px){
    .left{
    width:50%;
    display:flex;
    justify-content: flex-start;
    margin: 50px;

}
h1{
   
    color:white;
    font-size: 60px;
    letter-spacing: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
    background-color: rgb(109,151,115);
    
}
.right{
    display:flex;
    justify-content: flex-end;
    position:absolute;
    top:20px;
    right:50px;
    margin: 40px;
}
p{
    color:white;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
img{
    max-width: 100%;
    height: auto;
}

}
/*mobile*/
@media only screen and (min-width:320px)and (max-width:480px){
    .left{
    width:50%;
    display:flex;
    justify-content: flex-start;
    margin: 50px;

}
h1{
   
    color:white;
    font-size: 60px;
    letter-spacing: 5px;
}
body{
    background-color: rgb(109,151,115);
    
}
.right{
    display:flex;
    justify-content: flex-end;
    position:absolute;
    top:20px;
    right:50px;
    margin: 40px;
}
p{
    color:white;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
img{
    max-width: 100%;
    height: auto;
}
    
}


